{% extends 'base2.html' %}

{% block content %}

        <section class="contact-sec mt-5 shadow">
            <div><img src="../static/img/eforiro.jpg" alt="" class="rounded-circle"></div>
            <div>
            <h2 class="text-center contact-header">Want a chat??</h2>
            <div class="contact-details">
                <div class="contact-part1 m-2 fw-bold"><i class="fa-solid fa-phone mx-3 contact-icon"></i> Call us on <span><a href="tel:+447727165264" class="contact-link mx-2">+447727165264</a>
                </span></div><hr>
                <div class="contact-part2 m-2 fw-bold"><i class="fa-brands fa-whatsapp mx-3 contact-icon fw-bold "></i> Text us on <span class="mx-2"><a href="https://wa.me/message/PGNVT6XX7E7TM1" class="contact-link">WhatsApp</a></span></div><hr>
                <div class="contact-part3 m-2 fw-bold"><i class="fa-brands fa-instagram mx-3 contact-icon fw-bold "></i> Send us a message on <span class="mx-2"><a href="https://instagram.com/tigresskitchen_" class="contact-link">Instagram</a></span></div>
            </div></div>
            <div><img src="../static/img/okrasoup.jpg" alt="" class="rounded-circle"></div>
        </section>
        <div class="m-5"></div>

{% endblock %}